* {
	box-sizing: border-box;
}

.page {
	display: grid;
	grid-template-columns: 15vw 1fr 15vw;
	grid-template-rows: 250px 1fr 130px;
	height: 100vh;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
}

.content {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}